<div class="container">

  <div class="m20-v">
    <mat-card>
      <div class="row">
        <div class="col m6 s12 l6">
          <mat-form-field appearance="fill">
            <mat-label>Page Size</mat-label>
            <mat-select [value]="defaultPageSize.name" (selectionChange)="updatePageSize($event)">
              <mat-option *ngFor="let pageSize of pageSizes" [value]="pageSize.name">
                {{pageSize.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <!--        <div class="col m6 s12 l6">-->
        <!--          <button mat-button class="success-btn" (click)="openAddLogoDialog()">Add Logo</button>-->
        <!--        </div>-->

        <div class="col m6 s12 l6">
          <mat-form-field appearance="fill">
            <mat-label>Select Currency</mat-label>
            <mat-select>
              <mat-option *ngFor="let currency of listOfCurrencies" [value]="currency.name">
                {{currency.name}} - <span class="little-italic" [innerHTML]="currency.symbol"></span>
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

    </mat-card>
  </div>

  <mat-card>

    <form>
      <div class="container">
        <div>

          <div class="row">
            <div class="col m6 s12 l6">

              <div *ngIf="selectedCompany === null">
                <div style="padding-top: 10px; padding-bottom: 10px;" class="center-on-mobile">
                  <button mat-button (click)="gotoUrl('/invoice-builder/main/company')"
                          class="success-btn">
                    Select Company Profile
                  </button>
                </div>
              </div>

              <div *ngIf="selectedCompany !== null">
                <img alt="logo" class="invoice-logo" [src]="selectedCompany?.logoUrl">
                <p>{{selectedCompany?.address}}</p>
                <p>{{selectedCompany?.city}} {{selectedCompany?.state}} {{selectedCompany?.zipCode}} </p>
                <p>{{selectedCompany?.email}}</p>
                <p>{{selectedCompany?.websiteUrl}}</p>
              </div>

            </div>
            <div class="col m6 s12 l6">
              <div class="center-on-mobile">
                <form [formGroup]="invoiceInfoForm">
                  <h2>INVOICE</h2>
                  <p>
                    <mat-form-field appearance="fill">
                      <mat-label>Date</mat-label>
                      <input matInput [matDatepicker]="picker" formControlName="date">
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                  </p>
                  <p>
                    <mat-form-field class="example-full-width">
                      <mat-label>Invoice Number</mat-label>
                      <input matInput placeholder="Enter Invoice Number" formControlName="invoiceNumber">
                      <mat-icon matSuffix>mode_edit</mat-icon>
                    </mat-form-field>
                  </p>
                  <p>
                    <mat-form-field appearance="fill">
                      <mat-label>Due Date</mat-label>
                      <input matInput [matDatepicker]="pickerOne" formControlName="dueDate">
                      <mat-datepicker-toggle matSuffix [for]="pickerOne">
                      </mat-datepicker-toggle>
                      <mat-datepicker #pickerOne></mat-datepicker>
                    </mat-form-field>
                  </p>
                </form>
              </div>
            </div>
          </div>

          <div>

            <div *ngIf="this.selectedClient === null">
              <button mat-button class="add-column-btn"
                      (click)="gotoUrl('/invoice-builder/main/client')">
                Add Client
              </button>
            </div>

            <div *ngIf="this.selectedClient !== null">
              <h2>Client</h2>
              <p>{{this.selectedClient?.name}}</p>
              <p>{{this.selectedClient?.email}}</p>
              <p>{{this.selectedClient?.phoneNumber}}</p>
            </div>

            <form [formGroup]="invoiceForm">
              <div class="my-custom-table my-table-horizontal-scroll"
                   *ngIf="invoiceCreationObj.thList.length > 0; else other_content">
                <table class="responsive-table">
                  <thead>
                  <tr>
                    <th *ngFor="let th of invoiceCreationObj.thList">
                      <span>{{th.value}}</span>
                    </th>
                  </tr>
                  </thead>
                  <tbody *ngIf="invoiceCreationObj.thList.length > 0" formArrayName="rows">
                  <tr *ngFor="let col of rows.controls; let i = index" [formGroupName]="i">
                    <td *ngFor="let th of invoiceCreationObj.thList">

                      <mat-form-field *ngIf="th.type === EnumInputType.STRING" class="example-full-width">
                        <input matInput formControlName="{{th['value']}}">
                      </mat-form-field>

                      <mat-form-field *ngIf="th.type === EnumInputType.AMOUNT" class="example-full-width">
                        <input type="number" matInput formControlName="{{th['value']}}">
                      </mat-form-field>

                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>

              <div *ngIf="invoiceCreationObj.thList.length > 0 && invoiceForm.get('rows').value.length <= 0">
                <div class="please-add-column">
                  <div class="please-add-column-dot-dash">
                    <div class="center">
                      <h4>Add row</h4>
                    </div>
                  </div>
                </div>
              </div>

              <div class="m20-v" *ngIf="invoiceCreationObj.thList.length > 0;">
                <button mat-button class="success-btn" (click)="addRow()">
                  Add Row
                </button>
              </div>

              <ng-template #other_content>
                <div class="please-add-column">
                  <div class="please-add-column-dot-dash">
                    <div class="center">
                      <h4>Add Invoice Table</h4>
                      <div class="p20">
                        <button mat-button class="add-column-btn" (click)="openAddColumnDialog()">
                          Add Column
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>

            </form>

            <div class="balance my-custom-table">

              <table class="responsive-table">
                <tr>
                  <th><span contenteditable>Total</span></th>
                  <td><span data-prefix>$</span><span>{{totalAmount}}</span></td>
                </tr>
                <tr>
                  <th><span contenteditable>Amount Paid</span></th>
                  <td><span data-prefix>$</span><span contenteditable>0.00</span></td>
                </tr>
                <tr>
                  <th><span contenteditable>Balance Due</span></th>
                  <td><span data-prefix>$</span><span>600.00</span></td>
                </tr>
              </table>

              <div class="m20-v">
                <button mat-button class="success-btn" (click)="calculateTotal()">
                  Calculate Total
                </button>
              </div>

            </div>
          </div>


          <div class="additional-info">
            <mat-form-field appearance="outline">
              <mat-label>Additional Notes</mat-label>
              <textarea matInput
                        [rows]="7"
                        [cols]="4">
                </textarea>
            </mat-form-field>
          </div>

        </div>
      </div>
    </form>

  </mat-card>

  <div class="m20-v">
    <mat-card>
      <div style="display: flex">
      <span>
        <button mat-button class="success-btn" (click)="save()">Save</button>
      </span>
        <span class="spacer"></span>
        <span>
        <button mat-button class="preview-btn m20">Preview</button>
      </span>
      </div>
    </mat-card>

  </div>

</div>
