.template-size {
  width: 140px;
}

.template-size:hover {
  cursor: pointer;
  border: 2px solid mediumpurple;
  border-radius: 10px;
  padding: 10px;
}

.template-font-design {
  font-size: 10px;
}

.template-name {
  padding: 5px 5px 2px;
}
