<div class="container">
  <mat-card>

    <h2 style="text-align: center">Company Information</h2>
    <form [formGroup]="companyProfile">
      <div class="row">
        <div class="col m12 s12 l6">
          <mat-form-field class="example-full-width">
            <mat-label>Company Name</mat-label>
            <input matInput placeholder="Company Name" formControlName="name" [errorStateMatcher]="matcher">

            <mat-error *ngIf="companyProfile.controls['name'].invalid &&
            (companyProfile.controls['name'].dirty || companyProfile.controls['name'].touched)">
              <span *ngIf="companyProfile.controls['name'].errors.required">
                Company name is required
              </span>
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col m12 s12 l6">
          <mat-form-field class="example-full-width">
            <mat-label>Zip Code</mat-label>
            <input matInput placeholder="Zip code" formControlName="zipCode" [errorStateMatcher]="matcher">

            <mat-error *ngIf="companyProfile.controls['zipCode'].invalid &&
            (companyProfile.controls['zipCode'].dirty || companyProfile.controls['zipCode'].touched)">
              <span *ngIf="companyProfile.controls['zipCode'].errors.required">
                Zip Code is required
              </span>
            </mat-error>

          </mat-form-field>
        </div>

      </div>

      <div class="row">
        <div class="col m12 s12 l6">
          <mat-form-field class="example-full-width">
            <mat-label>Address</mat-label>
            <input matInput placeholder="Enter address" formControlName="address" [errorStateMatcher]="matcher">

            <mat-error *ngIf="companyProfile.controls['address'].invalid &&
            (companyProfile.controls['address'].dirty || companyProfile.controls['address'].touched)">
              <span *ngIf="companyProfile.controls['address'].errors.required">
                Address is required
              </span>
            </mat-error>

          </mat-form-field>
        </div>

        <div class="col m12 s12 l6">
          <mat-form-field class="example-full-width">
            <mat-label>Street</mat-label>
            <input matInput placeholder="Street" formControlName="street" [errorStateMatcher]="matcher">

            <mat-error *ngIf="companyProfile.controls['street'].invalid &&
            (companyProfile.controls['street'].dirty || companyProfile.controls['street'].touched)">
              <span *ngIf="companyProfile.controls['street'].errors.required">
                Company street is required
              </span>
            </mat-error>

          </mat-form-field>
        </div>

      </div>

      <div class="row">
        <div class="col m12 s12 l6">
          <mat-form-field class="example-full-width">
            <mat-label>City</mat-label>
            <input matInput placeholder="Enter city" formControlName="city" [errorStateMatcher]="matcher">

            <mat-error *ngIf="companyProfile.controls['city'].invalid &&
            (companyProfile.controls['city'].dirty || companyProfile.controls['city'].touched)">
              <span *ngIf="companyProfile.controls['city'].errors.required">
                Company name is required
              </span>
            </mat-error>

          </mat-form-field>
        </div>

        <div class="col m12 s12 l6">
          <mat-form-field class="example-full-width">
            <mat-label>State</mat-label>
            <input matInput placeholder="State" formControlName="state">

            <mat-error *ngIf="companyProfile.controls['state'].invalid &&
            (companyProfile.controls['state'].dirty || companyProfile.controls['state'].touched)">
              <span *ngIf="companyProfile.controls['state'].errors.required">
                State is required
              </span>
            </mat-error>

          </mat-form-field>
        </div>

      </div>

      <div class="row">
        <div class="col m12 s12 l6">
          <button mat-button class="success-btn" (click)="openAddLogoDialog()">
            Add Logo
          </button>

          <div>
            <span class="logo-url-style">{{logoUrl}}</span>
          </div>

          <mat-error *ngIf="companyProfile.controls['logoUrl'].invalid &&
            (companyProfile.controls['logoUrl'].dirty || companyProfile.controls['logoUrl'].touched)">
              <span class="my-error" *ngIf="companyProfile.controls['logoUrl'].errors.required">
                Company logo is required
              </span>
          </mat-error>
        </div>

        <div class="col m12 s12 l6">
          <button mat-button class="success-btn" (click)="openAddPhoneNumberDialog()">
            Add Phone Number
          </button>

          <div style="margin-top: 5px">
            <span *ngFor="let phoneNumber of phoneNumbers, let i = index">
              <span class="number-style" *ngIf="i === 0">{{phoneNumber}}</span>
              <span class="number-style" *ngIf="i !== 0">, {{phoneNumber}}</span>
            </span>
          </div>

          <mat-error *ngIf="companyProfile.controls['phoneNumber'].invalid &&
            (companyProfile.controls['phoneNumber'].dirty || companyProfile.controls['phoneNumber'].touched)">
              <span class="my-error" *ngIf="companyProfile.controls['phoneNumber'].errors.required">
                Company phone number is required
              </span>
          </mat-error>


        </div>
      </div>

      <div class="row">
        <div class="col m12 s12 l6">
          <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Enter email" formControlName="email" [errorStateMatcher]="matcher">

            <mat-error *ngIf="companyProfile.controls['email'].invalid &&
            (companyProfile.controls['email'].dirty || companyProfile.controls['email'].touched)">

              <span *ngIf="companyProfile.controls['email'].errors.required">
                Email is required
              </span>

              <span *ngIf="!companyProfile.controls['email'].errors.required &&
              companyProfile.controls['email'].errors.emailInvalid">
                Email invalid
              </span>

            </mat-error>

          </mat-form-field>
        </div>

        <div class="col m12 s12 l6">
          <mat-form-field class="example-full-width">
            <mat-label>Website URL</mat-label>
            <input matInput placeholder="State" formControlName="websiteUrl" [errorStateMatcher]="matcher">

            <mat-error *ngIf="companyProfile.controls['websiteUrl'].invalid &&
            (companyProfile.controls['websiteUrl'].dirty || companyProfile.controls['websiteUrl'].touched)">
              <span *ngIf="companyProfile.controls['websiteUrl'].errors.required">
                Website Url is required
              </span>
            </mat-error>

          </mat-form-field>
        </div>

      </div>


      <div style="text-align: center">
        <span *ngIf="!makingRequest">
           <button mat-button class="success-btn" (click)="save()">Save</button>
        </span>
        <span *ngIf="makingRequest">
            <button mat-button class="success-btn">
               <mat-icon>
                  <mat-progress-spinner
                    class="white-mat-spinner"
                    [diameter]="20"
                    mode="indeterminate">
                  </mat-progress-spinner>
              </mat-icon>
            </button>
         </span>
      </div>

    </form>
  </mat-card>
</div>


