ul {
  list-style-type: none;
  padding-left: 0;
}

.country-info {
  float: left;
  font-family: 'Raleway', "Helvetica Neue", sans-serif;
  font-weight: 400 !important;
  text-transform: uppercase;
}

.mat-form-field {
  display: inline;
}

