<mat-toolbar class="my-tool-bar">
<!--  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">-->
<!--    <mat-icon>menu</mat-icon>-->
<!--  </button>-->
  <span>Invoice Generator</span>
  <span class="spacer"></span>
  <span *ngIf="!this.isLoggedIn">
    <button mat-button (click)="openLoginDialog()" class="success-btn">LOGIN</button>
  </span>
  <span class="profile-icon" *ngIf="this.isLoggedIn">
   <mat-icon>account_circle</mat-icon>
  </span>
</mat-toolbar>
