<mat-toolbar class="my-tool-bar mat-elevation-z6">

  <div class="work-only-on-mobile">
  <button class="hamburger" [ngClass]="{
  'hamburger--collapse': hamburgerState,
  'is-active': hamburgerState
  }" type="button" (click)="toggleHamburger()">
    <span class="hamburger-box">
      <span class="hamburger-inner"></span>
    </span>
  </button>
  </div>

  <span>Invoice Generator</span>
  <span class="spacer"></span>
  <span *ngIf="!this.isLoggedIn">
    <button mat-button (click)="openLoginDialog()" class="success-btn">LOGIN</button>
  </span>


  <span [matMenuTriggerFor]="menu" class="profile-icon" *ngIf="this.isLoggedIn">
   <mat-icon>account_circle</mat-icon>
  </span>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="doLogout()">
        <mat-icon *ngIf="loggingOut">
          <mat-progress-spinner
            class="white-mat-spinner"
            [diameter]="20"
            mode="indeterminate">
          </mat-progress-spinner>
        </mat-icon>
      <mat-icon *ngIf="!loggingOut">power_settings_new</mat-icon>
      <span>Log Out</span>
    </button>
  </mat-menu>

</mat-toolbar>
