.logo-div:hover {

}


/*.image-gallery-overlay:hover {*/
/*  position: fixed; !* Sit on top of the page content *!*/
/*  display: none; !* Hidden by default *!*/
/*  width: 100%; !* Full width (cover the whole page) *!*/
/*  height: 100%; !* Full height (cover the whole page) *!*/
/*  top: 0;*/
/*  left: 0;*/
/*  right: 0;*/
/*  bottom: 0;*/
/*  background-color: rgba(0,0,0,0.5); !* Black background with opacity *!*/
/*  z-index: 2; !* Specify a stack order in case you're using a different order for other elements *!*/
/*  cursor: pointer; !* Add a pointer on hover *!*/
/*}*/
.logo-container {
  position: relative;
}

.logo-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(255, 255, 255, 0.6);
  border: 3px solid #459910;
  border-radius: 5px;
}

.logo-container:hover .logo-overlay {
  opacity: 1;
}

.logo-overlay .overlay-text {
  text-align: center;
  vertical-align: text-bottom;
  margin-top: 30%;
}
