<div class="entire-page">
  <mat-sidenav-container [hasBackdrop] (backdropClick)="closeSidebar()">
    <mat-sidenav #leftSidenav
                 [fixedInViewport]="true"
                 position="start"
                 class="sidebar"
                 [mode]="mode">

      <app-sidebar></app-sidebar>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="page-content" [ngClass]="(isSidebarOpen) ? 'root-div':''">
        <app-header></app-header>
        <div class="custom-body">
          <div class="login-page-resize" style="margin-top: 50px">
            <router-outlet></router-outlet>
          </div>
        </div>
        <app-footer></app-footer>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
